*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    display: flex;
   text-align: center;
    font-weight: 500;
        padding:5%;
        top: 50%;
    
}